language: node_js
node_js:
  - "6"
  - "7"
  - "8"
  - "9"
  - "10"
  - "11"
  - "12"
script:
  - npm run cover:codacy
branches:
  only:
    - master
notifications:
  email:
    on_success: always
    on_failure: always
